@use "./colors/slate.scss" as slate;
@use "./mixins.scss" as mixin;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  font-size: 16px;
}

body {
  min-height: 100vh;
  min-width: 100vw;

  @include mixin.flex-center;

  background-color: slate.$c9;
  color: slate.$c0;
}